html {
    font-size: 62.5%;
}

body {
    background-color: #efeff4;
    margin: 0vw;
    border: 0vw;
}

.top, .bottom {
    background-color: #68cdd5;
    color: white;
    width: 100vw;
}

.top {
    height: 3.5rem;
    position: absolute;
    top: 0rem;
}

.bottom {
    height: 4rem;
    text-align: center;
    font-size: 1.2rem;
    outline: none;
    border: none;
    white-space: pre;
    position: absolute;
    top: 12.75rem;
}

.left_top, .right_top {
    width: 35vw;
    float: left;
}

.left_top {
    text-align: left;
    position: relative;
    left: 1rem;
    top: 1.25rem;
}

.right_top {
    text-align: right;
    position: relative;
    right: 1rem;
    top: 1.25rem;
}

.center_top {
    width: 30vw;
    float: left;
    text-align: center;
    position: relative;
    top: 1.15rem;
    font-size: 1.2rem;
}

.icons {
    width: 2rem;
    height: 2rem;
    position: relative;
    left: 1rem;
    top: 0.75rem
}

.account, .passwd {
    height: 3.5rem;
    width: 100vw;
    background-color: white;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.account {
    position: absolute;
    top: 3.5rem;
}

.passwd {
    position: absolute;
    top: 7.75rem;
}

.forget_passwd {
    font-size: 0.9rem;
    text-align: right;
    position: absolute;
    top: 17.25rem;
    right: 1rem;
}

a:link {
    color: #68cdd5;
    text-decoration: underline;
}

a:visited {
    color: #68cdd5;
    text-decoration: underline;
}

.enter {
    outline: none;
    border: none;
    vertical-align: middle;
}