div.col_blank {
    background-color: orange;
    float: left;
    width: 30vw;
    height: 30vw;
    margin: 1vw; 
    border-radius: 2vw;
}

div.self_fit {
    background-color: transparent;
    width: 96vw;
    height: 96vw;
}

