div.col_blank {
    background-color: orange;
    float: left;
    width: 30vw;
    height: 30vw;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 2vw;
}

div.row_blank {
    background-color: transparent;
    /* float: left; */
    width: 96vw;
    height: 30vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 0vw;
    margin-right: 0vw;
}

div.self_fit {
    background-color: transparent;
    width: 96vw;
    height: 96vw;
}

