html {
    font-size: 62.5%;
}

body {
    background-color: white;
    margin: 0;
    border: 0;
}

.top {
    background-color: #68cdd5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 3.5rem;
    position: fixed;
    top: 0;
}


.bottom {
    display: flex;
    height: 4rem;
    font-size: 1.2rem;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.bottom_left,
.bottom_right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 48vw;
    margin: 0.5rem 0.5rem;
    border: 0.1rem solid #68cdd5;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #68cdd5;
}

.bottom_right {
    background-color: #68cdd5;
    color: #ffffff;
}

.left_top {
    text-align: left;
    position: relative;
    left: 1rem;
    font-size: 1.75rem;
}

.center_top {
    text-align: center;
    font-size: 1.5rem;
}

.simple_intro {
    height: 14rem;
    background-color: burlywood;
}

.line {
    width: 2rem;
    height: 2rem;
}

.icons {
    width: 1.5rem;
    height: 1.5rem;
}

.border_skill,
.border_content {
    border-width: 0 0 0.05rem;
    border-bottom-style: solid;
    border-color: #d0d0d0;
}

.border_content {
    position: relative;
    left: 1rem;
}

.skill,
.content,
.sub_content {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    margin: 1.5rem 0;
}

.skill {
    left: 1rem;
}

.content,
.sub_content {
    left: 1.5rem;
    width: 100vw;
    right: 1.5rem;
}

.sub_content {
    margin: 0.5rem 0;
}

.items_left {
    width: 4rem;
    color: #d0d0d0;
}

.items_right {
    flex: 1;
    position: relative;
}

.account {
    position: absolute;
    top: 3.5rem;
}

.passwd {
    position: absolute;
    top: 7.75rem;
}

.forget_passwd {
    font-size: 0.9rem;
    text-align: right;
    position: absolute;
    top: 17.25rem;
    right: 1rem;
}

.price {
    color: #ff0000;
}

a:link {
    color: #68cdd5;
    text-decoration: underline;
}

a:visited {
    color: #68cdd5;
    text-decoration: underline;
}

.enter {
    outline: none;
    border: none;
    vertical-align: middle;
}